TOKEN = '<TOKEN>'
ADMIN_CHAT_ID = 123456789 # <your target chat ID>
SHORT_LINK = '<@your short channel link>'
LINK = '<https://your channel link>'
ADVERTISING_LINK = 'your link to the advertising post'
CONTENT_IGNORE_TYPES = ['audio', 'document', 'photo', 'sticker', 'video',
		        'video_note', 'voice', 'location', 'contact']
BUTTON_NAMES = {
    '<command name>': '<description>',
}
ANSWER = <emoji code>
RESET = <emoji code>
