TOKEN = 'token ID'
ADMIN_CHAT_ID = 'your_target_chat_ID'
SHORT_LINK = '@your_short_channel_link'
LINK = 'https://your_channel_link'
IP = 'your IP or server IP'
CONTENT_IGNORE_TYPES = ['audio', 'document', 'photo', 'sticker', 'video',
		        'video_note', 'voice', 'location', 'contact']
BUTTON_NAMES = {
    'name': 'description',
}
INFO = {
    'command name': (
        'text'
    ),
}
