SMILEY = u'\U0001F609'
IGNORE = '<some about ignore message>'
DEFAULT = '<any default message for user>'
MISTAKE = '<some mistake message for admin>'
INFO = {
    '<command name>': (
        '<message text>'
    ),
}
